body {
  background-color: antiquewhite;
  margin: 0px;
  border: 0px;
}

#outer{
  display: grid;
  justify-content: center;
  color:rgb(62, 39, 13);
}

#language-toggle button {
  background-color: #95bbe4;
  color: white;
  padding: 14px 20px;
  width: 150px;  
  height:50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
  box-shadow: 5px 5px 7px rgb(170, 166, 162);
  transition-duration: 0.4s;
}

#language-toggle button:hover {
  background-color: rgb(232, 209, 184) !important;
  border-color: rgb(232, 209, 184) !important;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hidden {
  display: none;
}

p{
  font-family: Georgia;
  font-size: 30px;
  text-align: center;
  color:rgb(62, 39, 13);
  margin: 10px 60px;
}

h1 {
    font-family: Helvetica;
    font-size: 50px;
    text-align: center;
    width: 100%;
    height: 60px;
    color:rgb(62, 39, 13);
}

.question{
  font-family: Georgia;
  font-size: 30px;
  text-align: justify;
  max-width: 1200px;
  margin: 60px auto 30px;
}

/* Style for the radio buttons */
.option {
    border: 10px solid rgb(235, 229, 222);
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 5px 5px 7px rgb(170, 166, 162);
    background-color: rgb(235, 229, 222);
    max-width: 800px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  /* Hide the actual radio button */
  .option input[type="radio"] {
    display: none;
  }
  
  /* Style for the label text */
  .option label {
    display: block;
    font-size: 23px;    
    font-family: Helvetica;
    cursor: pointer;
  }
  
  /*style when hovering above radio button*/
  .option:hover {
    background-color:  rgb(232, 209, 184) !important;
    border-color: rgb(232, 209, 184) !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .submission{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    margin-top: 60px;;
    }

  .start{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    text-align: center;
    top: 60px;
  }

  .button{
    background-color: #95bbe4;
    color: white;
    padding: 14px 20px;
    width: 150px;  
    height:50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 7px rgb(170, 166, 162);
    transition-duration: 0.4s;
  }

.button:hover {
    background-color: rgb(232, 209, 184) !important;
    border-color: rgb(232, 209, 184) !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .image {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  .image img{
    border-radius: 10px;
    box-shadow: 10px 10px 7px rgb(170, 166, 162);
  }

  #results{
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    color:rgb(62, 39, 13);
    margin:30px;
  }

  .learnmore{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    text-align: center;
  }
  